/* Profile Style Sheet*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	background-color: #e6ecf0;
	margin-right: 70px;
	color: #355E88;
}

#changePassword{
	margin-top: 30px;
}

.profileHeader{
	margin-top: 50px;
}

.profileInfoContainer{
	margin-top: 50px;
}

.info{
	font-size: 17px ;
	color: #000;
}

.infoHeader{
	padding-right: 10px;
	font-weight: bold;
	padding-bottom: 20px;

}
.uploadProfilePicBut{
	 margin-top: 20px;
	 margin-left: 55px;
	 width: 193px;
}

.profilePic {
	/* Add properties below */
	border-radius: 50%;
	width: 200px;
	border: solid white;
	position: absolute;

}
