/* Project Style Sheet */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  background-color: #e6ecf0;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
  color: #355E88;
  position: relative;
  top: 30px;
}
#header_box {
  background-color: #FFFFFF;
  height: 100px;
  font-size: 30px;
}

/*h1 {
  font-size: 48px;
  padding: 10px;
  color: #355e88;
  text-align: center;
  position: relative;
  top: 30px;
}
*/
h2 {
  top: 30px;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  color: darkslategrey;
}

#companyAddForm {
  padding: 10px;
  top: 30px;
  text-align: center;
  position: relative;
}
#companyTable {
  padding: 10px;
  width: 80%;
  top: 30px;
  text-align: center;
  position: relative;
}

 table
        {
            border: 2px solid #ffffff;
            margin-top: 30px;
            margin-bottom: 50px;
            table-layout: fixed;
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
            width: 800px;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            width: 12.5%;
            border-left: 2px solid #ffffff;
/*            color: #666;
*/            height: 30px;
            padding: 5px;
        }
