body {
	background-color: #e6ecf0;
	margin-left: 20px;
	margin-right: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-family: 'Poppins', sans-serif;
}

.whole-table{
	margin-left: 20px;
	margin-top: 20px;
	width: 100%;
}

.message-table {
	margin-top: 20px;
	margin-left: 20px;
}